@page "/vehicles/national"

@using Microsoft.AspNetCore.Authorization
@using SjaInNumbers.Client.Components
@using SjaInNumbers.Client.Services.Interfaces
@using SjaInNumbers.Shared.Model.Vehicles

@attribute [Authorize(Policy = "Lead")]

@inject IVehicleService VehicleService

<GeneralErrorHandler>
    <h2>Vehicle Availability - National</h2>
    <h3>
        <a href="/vehicles">
            <img class="icon" src="/img/icons/backward.svg" /> Go Back
        </a>
    </h3>

    <table>
        <thead>
            <tr>
                <th>Body Type</th>
                <th>Currently Available</th>
                <th>12 Month Availability</th>
                <th>6 Month Availability</th>
                <th>3 Month Availability</th>
            </tr>
        </thead>
        @foreach (var make in vehicleTypes.GroupBy(v => v.Make).OrderBy(m => m.Key))
        {
            foreach (var model in make.GroupBy(v => v.Model))
            {
                <thead>
                    <tr>
                        <th colspan="5">
                            @make.Key @model.Key
                        </th>
                    </tr>
                </thead>
                foreach (var bodyType in model)
                {
                    <tr>
                        <td>
                            @bodyType.BodyType
                        </td>
                        <td>
                            @bodyType.CurrentlyAvailable / @bodyType.Total
                        </td>
                        <td>
                            @($"{1.0 - bodyType.AverageTwelveMonthAvailability:p1}")
                            <TrendArrow SignificantValue="0.04" Value="@(1 - bodyType.AverageTwelveMonthAvailability)" PreviousValue="@(1 - bodyType.AverageTwelveMonthMinusOneAvailability)" />
                        </td>
                        <td>
                            @($"{1.0 - bodyType.AverageSixMonthAvailability:p1}")
                            <TrendArrow SignificantValue="0.04" Value="@(1 - bodyType.AverageSixMonthAvailability)" PreviousValue="@(1 - bodyType.AverageSixMonthMinusOneAvailability)" />
                        </td>
                        <td>
                            @($"{1.0 - bodyType.AverageThreeMonthAvailability:p1}")
                            <TrendArrow SignificantValue="0.04" Value="@(1 - bodyType.AverageThreeMonthAvailability)" PreviousValue="@(1 - bodyType.AverageThreeMonthMinusOneAvailability)" />
                        </td>

                    </tr>
                }
            }
        }
    </table>
</GeneralErrorHandler>

@code {
    private IList<VehicleTypeStatus> vehicleTypes = [];

    protected async override Task OnInitializedAsync()
    {
        vehicleTypes = await VehicleService.GetNationalStatus().ToListAsync();
    }
}
